<div class="form-group row">
      <div class="col-xs-9">
        <input class="form-control" id="ex1" type="text" ng-model="account" placeholder="team2dev">
      </div>
      <div class="col-xs-3">   
        <button ng-click="loadHistory()" class="btn btn-default form-control" id="ex2" type="submit"><i class="glyphicon glyphicon-search"></i></button>
      </div>
    </div>
		<p class="text-center" ng-if="data.length==0">Loading...</p>


		<div ng-if="data.length>0">
            <h3>Transfer to:</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Real Time</th>
                        <th scope="col">To</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Memo</th>
                    </tr>
                </thead>
                <tbody>
                    <td ng-if="penerima.length==0" colspan="4" class="text-center">NO HAVE DATA YET</td>
                    <tr ng-if="penerima.length>0" ng-repeat="x in penerima | orderBy : '-timestamp'">
                        <td>{{x.timestamp}}</td>
                        <td>{{x.op[1].to}}</td>
                        <td>{{x.op[1].amount}}</td>
                        <td>{{x.op[1].memo}}</td>
                    </tr>
                </tbody>
            </table>


            <h3>Recieve from:</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Real Time</th>
                        <th scope="col">From</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Memo</th>
                    </tr>
                </thead>
                <tbody>
                    <td ng-if="pengirim.length==0" colspan="4" class="text-center">NO HAVE DATA YET</td>
                    <tr ng-if="pengirim.length>0" ng-repeat="x in pengirim | orderBy : '-timestamp'">
                        <td>{{x.timestamp}}</td>
                        <td>{{x.op[1].from}}</td>
                        <td>{{x.op[1].amount}}</td>
                        <td>{{x.op[1].memo}}</td>
                    </tr>
                </tbody>
            </table>
    			
		</div>
      
